.watches-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.watch-card-collection__main h1 {
  font-family: var(--font-primary);
  color: white;
  font-weight: 200;
  font-size: 2.7vw;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.content--dimmed {
  opacity: 0.3;
  pointer-events: none; /* empêche les clics */
  transition: opacity 0.3s ease;
}

@media (max-width: 600px) {
  /* .watches-grid {
    grid-template-columns: repeat(2, 1fr);
  } */

  .watch-card-collection__main h1 {
    margin-left: 2rem;
    margin-top: 6rem;
    font-size: 1.5rem;
  }
}
