.lastwatch__main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--secondary-color);
  border-radius: 10px;
  padding: 0.2rem 1rem;
}

.lastwatch__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
