.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  z-index: 2000;
}

.popup-content {
  width: 450px;
  height: 100%;
  background: #222;
  color: #fff;
  padding: 40px 30px;
  border-left: 1px solid var(--border-color);
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.infos-header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.infos {
  display: flex;
  margin-bottom: 15px;
  align-items: baseline;
}

.label {
  flex: 0 0 160px;
  font-weight: bold;
  color: var(--border-color);
  text-transform: uppercase;
}

.collection-btn {
  margin-top: 30px;
  background: transparent;
  border: 1px solid var(--border-color);
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--border-color);
}

.collection-owner {
  color: var(--border-color);
  margin: 1.5rem 0 1rem 0;
  text-align: left;
}

.collection-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  overflow-y: auto;
}

.watch-items {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 10px;
  gap: 15px;
}

.watch-img {
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 4px;
}

.watch-status {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
  padding: 2px 0;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
}

.watch-status.active {
  color: green;
  border-top: 1px solid green;
}

.watch-status.pending {
  color: orange;
  border-top: 1px solid orange;
}

.watch-status.personal {
  color: blue;
  border-top: 1px solid blue;
}

.watch-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.watch-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.watch-brand {
  font-weight: bold;
  color: var(--border-color);
}

.back-btn {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: var(--bonus-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--border-color);
  cursor: pointer;
}
