.ClassifiedAdDetails-Conteneur {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  padding-left: 1rem;
  border-radius: 16px;
  border-color: var(--border-color);
}

.ClassifiedAdDetails-aside {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  padding-right: 1rem;
}
