/* ===== LIGHT THEME COLORS ===== */

:root {
  --background-color: linear-gradient(to bottom, #d9cbc2 65%, #f5f0e9 100%);
  --primary-color: #f5f0e9;
  --text-color: #010510;

  /* ===== COLORS IN COMMON ===== */
  --secondary-color: #e0c58f;
  --accent-color: #d9cbc2;
  --bonus-color: #3e160c;

  /* ===== TYPO ===== */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Inter", sans-serif;
}

:root[data-theme="dark"] {
  --background-color: linear-gradient(to bottom, #010510 55%, #010c2a 100%);
  --primary-color: #010c2a;
  --text-color: #f5f0e9;

  /* ===== COLORS IN COMMON ===== */
  --secondary-color: #e0c58f;
  --accent-color: #d9cbc2;
  --bonus-color: #3e160c;

  /* ===== TYPO ===== */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-secondary);
}

/* SI VOUS REALISEZ SUR VOS COMPOSANTS UN STYLE REUTILISABLE (BOUTON OU AUTRE), AJOUTEZ LE ICI, MERCI <3 */
