/* ===== LIGHT THEME COLORS ===== */

:root {
  --background-color: linear-gradient(to bottom, #d9cbc2 15%, #f5f0e9 100%);
  --primary-color: #f5f0e9;
  --text-color: #010510;
  --border-color: #685d4c;

  /* ===== COLORS IN COMMON ===== */
  --secondary-color: #010510;
  --accent-color: #010510;
  --bonus-color: #3e160c;

  /* ===== TYPO ===== */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Inter", sans-serif;
}

/* ===== DARK THEME COLORS ===== */

:root[data-theme="dark"] {
  --background-color: linear-gradient(to bottom, #010510 15%, #010c2a 100%);
  --primary-color: #010c2a;
  --text-color: #f5f0e9;
  --border-color: #e0c58f;

  /* ===== COLORS IN COMMON ===== */
  --secondary-color: #e0c58f;
  --accent-color: #d9cbc2;
  --bonus-color: #3e160c;

  /* ===== TYPO ===== */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  background-attachment: fixed; /* Rend le fond immobile lors du scroll */
  background-repeat: no-repeat;
  background-size: cover; /* S'assure que le dégradé couvre tout l'écran */
  color: var(--text-color);
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-secondary);
}

/* SI VOUS REALISEZ SUR VOS COMPOSANTS UN STYLE REUTILISABLE (BOUTON OU AUTRE), AJOUTEZ LE ICI, MERCI <3 */

/* classe css pour la navbar */
.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-left: 115px; /* Largeur sidebar fermée */
  flex: 1;
  transition: margin-left 0.3s ease; /* Même durée que ta sidebar */
  padding: 2rem;
}

.app-layout.sidebar-expanded .main-content {
  margin-left: 220px; /* Largeur sidebar ouverte */
}

.app-layout.no-sidebar .main-content {
  margin-left: 0;
}

.basket-icon-container {
  position: fixed;
  top: 1.5rem;
  right: 5rem;
  z-index: 100; /* pour être au-dessus du contenu */
}

/* =========================
   MOBILE
   ========================= */
@media (max-width: 600px) {
  .main-content {
    margin-left: 0; /* Sidebar en overlay */
    padding: 1rem; /* Padding plus compact */
  }
  .app-layout.sidebar-expanded .main-content {
    margin-left: 0;
  }
}
