.Dashboard-main {
  width: 100%;
}

.Dashboard-main h1 {
  margin-bottom: 4rem;
  margin-top: 4rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.Dashboard-main h2 {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.Dashboard_section_high {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

@media screen and (max-width: 1200px) {
  .Dashboard_section_high {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .Dashboard_section_high {
    display: flex;
    flex-direction: column;
  }
}
