.Dashboard-main {
  width: 100%;
}

.Dashboard-main h1 {
  padding-bottom: 3rem;
  text-align: center;
}

.Dashboard-main h2 {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.Dashboard_section_high {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

@media screen and (max-width: 1200px) {
  .Dashboard_section_high {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .Dashboard_section_high {
    display: flex;
    flex-direction: column;
  }
}
