.forgot-password-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}

.forgot-password-container h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 300;
  margin-bottom: 20px;
}

.forgot-password-container p {
  margin-bottom: 30px;
  line-height: 1.5;
  opacity: 0.8;
}

.forgot-password-container input {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.forgot-password-container input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.send-btn {
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.send-btn:hover {
  background-color: var(--secondary-color);
  color: black;
}
