.DashboardRecentOrders-article {
  width: 100%;
  max-width: 100%;
  overflow: hidden; /* Sécurité anti-scroll */
  box-sizing: border-box;
  margin-top: 3rem;
}

.embla__viewport {
  overflow: hidden; /* C'est ici que le scroll est bloqué */
  width: 100%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  cursor: grab;
}

.embla__slide {
  flex: 0 0 25%; /* 4 cartes par défaut */
  min-width: 0;
  padding-left: 1rem;
  width: 10px;
}
.dashboardRecentOrdersCard {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  height: 100%; /* Pour que toutes les cartes aient la même hauteur */
  background-color: rgba(255, 255, 255, 0.05); /* Optionnel : léger fond pour voir la carte */
  margin-right: 1rem;
  width: 70px;
}

.embla__prev,
.embla__next {
  background-color: var(--bonus-color);
  border: 1px solid var(--border-color);
  padding: 0.6rem;
  margin: 1rem;
  border-radius: 15px;
  width: 100px;
  color: var(--accent-color);
}
.embla__container:active {
  cursor: grabbing;
}

/* Ton responsive simple et efficace */
@media (max-width: 2005px) {
  .embla__slide {
    flex: 0 0 33.33%;
    width: 10px;
  } /* 3 cartes */
}
@media (max-width: 1230px) {
  .embla__slide {
    flex: 0 0 50%;
    width: 10px;
  } /* 2 cartes */
}
@media (max-width: 1114px) {
  .embla__slide {
    flex: 0 0 100%;
    width: 10px;
  } /* 1 carte */
}
