.order-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.order-details-content {
  width: 90%;
  max-width: 400px;
  padding: 40px 30px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeInPop 0.4s ease-out;
  background: var(--background-color);
}
@keyframes fadeInPop {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--bonus-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--border-color);
  cursor: pointer;
  padding: 8px;
}

.order-details-img {
  width: clamp(50px, 10vw, 70px);
  height: clamp(50px, 10vw, 70px);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  flex-shrink: 0;
  object-fit: cover;
  margin-bottom: 20px;
}

.order-details-content h2 {
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.order-details-content h3 {
  margin-bottom: 20px;
}

.order-price {
  color: var(--border-color);
  font-weight: bold;
}

.add-to-collection-btn {
  margin-top: 35px;
  width: 100%;
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
}

.add-to-collection-btn:hover {
  background-color: var(--border-color);
}
