.search-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.search-group {
  display: flex;
  flex-direction: column;
  color: var(--border-color);
  gap: 0.5rem;
}

.search-group label {
  padding-left: 0.75rem;
  color: var(--border-color);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.search-group select,
input {
  padding: 0.75rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  color: var(--text-color);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-group select option {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.search-group select:hover,
input:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-color: 1px solid rgba(255, 255, 255, 0.08);
}

.search-group select:focus,
input:focus {
  outline: none;
  border-color: var(--border-color);
}

/* Cible l'icône du calendrier pour Chrome, Edge et Safari */
.search-group input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  /* Optionnel : tu peux aussi augmenter un peu sa taille ou changer son opacité au survol */
  transition: opacity 0.3s ease;
}
